{% extends "base.html" %}

{% block content %}
<div class="table">
    <div class="column">
            <div class="date-cell"></div>
        {% for interval in intervals %}
            <div class="time-cell">
                {{ interval }}
            </div>
        {% endfor %}
    </div>
{% for date, day_records in records.items %}
    <div class="column">
        <div class="date-cell">{{ date }}</div>
        {% for record in day_records %}
            {% if record %}
                <div
                     {% if record.color %} class="cell" style="background-color: {{ record.color }}"
                     {% else %} class="cell rating{{ record.rating }}" {% endif %}>
                    <span class="cell-text">{{ record.activity }}</span>
                </div>
            {% else %}
                <div class="cell"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
    <div class="column">
            <div class="date-cell"></div>
        {% for interval in intervals %}
            <div class="time-cell">
                {{ interval }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
