{% extends "base.html" %}

{% block content %}
<div class="table">
        <div class="column">
            <div class="cell"></div>
        {% for interval in intervals %}
            <div class="cell">
                {{ interval }}
            </div>
        {% endfor %}
    </div>
{% for date, day_records in records.items %}
    <div class="column">
        <div class="cell">{{ date }}</div>
        {% for interval, activity in day_records.items %}
            {% if activity %}
                <div
                     {% if activity.color %} class="cell" style="background-color: {{ activity.color }}"
                     {% else %} class="cell rating{{ activity.rating }}" {% endif %}>
                    {{ activity.activity }}
                </div>
            {% else %}
                <div class="cell"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}
