{% extends "base.html" %}
{% load tags %}

{% block content %}
<script>
    var csrf_token = '{{ csrf_token }}';
    var colors = Object();
    {% for activity_id, color in activities_colors.items %}
        colors[{{ activity_id }}] = "{{ color }}";
    {% endfor %}
    var ratings = Object();
    {% for activity_id, rating in activities_ratings.items %}
        ratings[{{ activity_id }}] = "{{ rating }}";
    {% endfor %}
</script>
<script src="/static/js/create.js"></script>
<a href="{{ request.path }}">Compact view</a>
<a href="{{ request.path }}?prev={{ prev }}">Previous</a>
<div>
<table>
{% for interval in intervals %}
    <tr>
        <td class="interval_block">{{ interval.1 }}</td>
        <td class="activity_block"><select class="activity" time="{{ interval.0 }}">
            <option value="">---</option>
            {% for activity in activities_choices %}
                <option value="{{ activity.0 }}" {% if interval.2 == activity.0 %} selected {% endif %}>{{ activity.1 }}</option>
            {% endfor %}
        </select></td>
        <td class="status_block"><span class="status"></span></td>
    </tr>
{% endfor %}
</table>
</div>
<a href="{{ request.path }}">Compact view</a>
{% endblock %}
