{% extends "base.html" %}
{% load tags %}
{% load static %}

{% block content %}
<script>
    var csrf_token = '{{ csrf_token }}';
    var COLORS = Object();
    {% for activity_id, color in activities_colors.items %}
        COLORS[{{ activity_id }}] = "{{ color }}";
    {% endfor %}
    var RATINGS = Object();
    {% for activity_id, rating in activities_ratings.items %}
        RATINGS[{{ activity_id }}] = "{{ rating }}";
    {% endfor %}
    var CUR_DATE = "{{ cur_date }}";
</script>
<script src="{% static 'js/create.js' %}"></script>
<a href="{{ request.path }}">Reset view</a>
<a href="{{ request.path }}?prev={{ prev }}">Previous</a>
<a href="{{ request.path }}?date={{ prev_date }}">Previous day {{ prev_date }}</a>
<div class="table">
<!-- Tracker block -->
<div class="column">
{% for interval in intervals %}
    <div class="cell tracker-cell">
        <div class="interval_block">{{ interval.1 }}</div>
        <div class="activity_block">
            <select class="activity" time="{{ interval.0 }}">
                <option value="">---</option>
                {% for activity in activities_choices %}
                    <option value="{{ activity.0 }}" {% if interval.2 == activity.0 %} selected {% endif %}>{{ activity.1 }}</option>
                {% endfor %}
            </select>
            <span class="status">&nbsp;&nbsp;&nbsp;</span>
        </div>
    </div>
{% endfor %}
</div>
<!-- Day stats block -->
<div class="column">
    <div>Day ({{ day_rating }})</div>
    {% for activity in day_stats %}
    <div class="row stats-row">
        <div class="cell stats-cell stats-text">{{ activity.0 }}</div>
        <div class="cell stats-cell stats-text">{{ activity.2 }}</div>
    </div>
    {% endfor %}
</div>
<!-- Week stats block -->
<div class="column">
    <div>Week</div>
    {% for activity in week_stats %}
    <div class="row stats-row">
        <div class="cell stats-cell stats-text">{{ activity.0 }}</div>
        <div class="cell stats-cell stats-text">{{ activity.2 }}</div>
    </div>
    {% endfor %}
</div>
<!-- Month stats block -->
<div class="column">
    <div>Month</div>
    {% for activity in month_stats %}
    <div class="row stats-row">
        <div class="cell stats-cell stats-text">{{ activity.0 }}</div>
        <div class="cell stats-cell stats-text">{{ activity.2 }}</div>
    </div>
    {% endfor %}
</div>
<!-- Tricks block
<div class="column text-block">
    <div>Tricks</div>
    {% for trick_id, trick in tricks.items %}
    <div class="row">
        <div class="cell tricks-text">{{ trick_id }} {{ trick.text }}</div>
    </div>
    {% endfor %}
</div>
</div>
<a href="{{ request.path }}">Reset view</a>
{% endblock %}
 -->