<html>
<head>
    <link rel=stylesheet href=/static/css/style.css>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
<div class="header">
    {% block header %}
        <span class="button"><a href="/timesheet/">Home</a></span>
        <span class="button">Timesheet (<a href="/timesheet/week/">week</a>,
        <a href="/timesheet/month/">month</a>,
        <a href="/timesheet/full/">full</a>)</span>

        <span class="button">Charts (<a href="/timesheet/charts/avg/">avg</a>,
        <a href="/timesheet/charts/weekday/">weekday</a>,
        <a href="/timesheet/charts/week/">week</a>)</span>

        <span class="button"><a href="/admin/">Admin</a></span>
        <span class="button"><a href="http://localhost/phppgadmin/">PhpPgAdmin</a></span>
    {% endblock %}
</div>
<div class="content">{% block content %}{% endblock %}</div>
</body>
</html>