.table {
    display: flex;
    font-size: 14px;
}

.date-cell {
    font-family: sans-serif;
    text-align: center;
    min-height: 32px;
    min-width: 75px;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    padding: 1px;
    background-color: #eef;
}

.time-cell {
    font-family: sans-serif;
    text-align: center;
    min-height: 18px;
    min-width: 75px;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    padding: 1px;
    background-color: #eef;
}

.cell {
    display: flex;
    opacity: 0.8;
    text-align: center;
    min-height: 18px;
    min-width: 75px;
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
    padding: 1px;
}

.row {
    display: flex;
    opacity: 0.8;
    text-align: center;
    min-height: 18px;
    min-width: 75px;
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
    padding: 1px;
}

.text-block {
    max-width: 50%;
    font-size: 20px;
}

.interval_block {
    padding: 3px;
}

.activity_block {
    padding: 3px;
}

.cell-text {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

.dayoff {
    border-style: solid;
    border-width: 1px;
    border-color: #f55;
}

.tracker-cell {
    border-style: none;
}

.stats-cell {
    border-style: none;
    min-width: 150px;
}

.stats-row {
    border-style: none;
}

.stats-text {
    font-size: 24px;
}

.status {
    width: 75px;
}

.rating10 {background-color: #5eb91e}
.rating9 {background-color: #5eb91e}
.rating8 {background-color: #bbe33d}
.rating7 {background-color: #bbe33d}
.rating6 {background-color: #d4ea6b}
.rating5 {background-color: #d4ea6b}
.rating4 {background-color: #e8f2a1}
.rating3 {background-color: #e8f2a1}
.rating2 {background-color: #f6f9d4}
.rating1 {background-color: #f6f9d4}
.rating0 {background-color: #f6f9d4}
.rating-1 {background-color: #ffd7d7}
.rating-2 {background-color: #ffd7d7}
.rating-3 {background-color: #ffa6a6}
.rating-4 {background-color: #ffa6a6}
.rating-5 {background-color: #ff6d6d}
.rating-6 {background-color: #ff6d6d}
.rating-7 {background-color: #ff3838}
.rating-8 {background-color: #ff3838}
.rating-9 {background-color: #f10d0c}
.rating-10 {background-color: #f10d0c}

.header {
    font-family: sans-serif;
    width: 100%;
    background-color: #bbc;
    margin-bottom: 5px;
    padding: 5px;
}

.content {
    font-family: sans-serif;
}

.button {
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    padding: 2px;
}